<header class="section-header">
  <h1 id="js-topbar-trigger">{{project.name}}</h1>
  <p class="divider-line"><span></span></p>
  <h2>{{project.company}}</h2>
</header>
<figure class="project-screenshot">
  <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.hero}}">
  <figcaption class="contain">
    <h3 class="headline">{{project.headline}}</h3>
    <p class="tags">{{project.rendition.year}}<span class="platforms" ng-repeat="platform in project.rendition.platforms"><span></span>{{platform}}</span></p>
    <p>{{project.description}}</p>
  </figcaption>
</figure>
<article class="subsection">
  <header class="section-header">
    <h3 class="headline">A peek behind the curtain</h3>
    <p class="divider-line blue-green"><span></span><p/>
    <p class="tags">Big Ideas<span></span>Hard Work</p>
  </header>
  <div class="grid-screenshot grid">
    <div class="first-child" id="gridAnim">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell1[0]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell1[1]}}" class="fx" style="z-index:1;">
    </div>
    <div id="gridAnim1">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell2[0]}}" class="fx" style="z-index:3;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell2[1]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell2[2]}}" class="fx" style="z-index:1;">
    </div>
    <div id="gridAnim2">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell3[0]}}" class="fx" style="z-index:3;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell3[1]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell3[2]}}" class="fx" style="z-index:1;">              
    </div>
    <aside>
      <div>
        <p>{{project.slideshow.text}}<span>{{project.slideshow.highlight}}</span></p>
      </div>
      
    </aside>
    <div id="gridAnim3">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell4[0]}}" class="fx" style="z-index:3;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell4[1]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell4[2]}}" class="fx" style="z-index:1;">
    </div>
    <div class="last-child" id="lastGrid">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell5[0]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell5[1]}}" class="fx" style="z-index:1;">
    </div>
  </div>
  <footer class="section-footer">
    <p class="quote">"{{project.slideshow.quote.text}}"</p>
    <p class="divider-line"><span></span><p/>
    <p class="quote-author">{{project.slideshow.quote.author}}</p>
  </footer>
</article>

<article class="subsection alternate">
  <header class="section-header">
    <h3 class="headline">Amazing things made possible</h3>
    <p class="divider-line"><p/>
    <p class="tags">Frontend<span></span>Backend</p>
  </header>
  <div class="grid-screenshot alternate" ng-controller="StrategyListController">
    <strategy-list type="goals"></strategy-list>
    <span class="hspace"></span>
    <strategy-list type="design"></strategy-list>
    <span class="hspace"></span>
    <strategy-list type="development"></strategy-list>
  </div>
</article>