<header class="section-header">
  <h1 id="js-topbar-trigger">{{project.name}}</h1>
  <p class="divider-line"><span></span></p>
  <h2>{{project.company}}</h2>
</header>
<project-hero></project-hero>
<p class="tags launch" ng-if="project.rendition.demo">
  <a ng-href="{{project.rendition.demo.live}}" target="_blank">view</a><span class="item">demo</span>
  <span ng-if="project.rendition.demo.promo"></span>
  <a ng-if="project.rendition.demo.promo" ng-href="{{project.rendition.demo.promo}}" target="_blank">watch</a><span ng-if="project.rendition.demo.promo" class="item">promo</span>
  <span ng-if="project.rendition.demo.code"></span>
  <a ng-if="project.rendition.demo.code" ng-href="{{project.rendition.demo.code}}" target="_blank">sample</a><span ng-if="project.rendition.demo.code" class="item">code</span>
</p>
<p ng-if="project.rendition.demo" class="tags" style="text-transform:lowercase;">( new window )</p>

<!-- ng-show="project.slideshow.animate" may need to create a show -->

<article class="subsection" >
  <header class="section-header">
    <h3 class="headline">A peek behind the curtain</h3>
    <p class="divider-line blue-green"><span></span><p/>
    <p class="tags">Big Ideas<span></span>Hard Work</p>
  </header>
  <div class="grid-screenshot grid">
    <div class="first-child" id="gridAnim">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell1[0]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell1[1]}}" class="fx" style="z-index:1;">
    </div>
    <div id="gridAnim1">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell2[0]}}" class="fx" style="z-index:3;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell2[1]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell2[2]}}" class="fx" style="z-index:1;">
    </div>
    <div id="gridAnim2">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell3[0]}}" class="fx" style="z-index:3;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell3[1]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell3[2]}}" class="fx" style="z-index:1;">              
    </div>
    <aside>
      <div>
        <p>{{project.slideshow.text}}<span>{{project.slideshow.highlight}}</span></p>
      </div>
      
    </aside>
    <div id="gridAnim3">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell4[0]}}" class="fx" style="z-index:3;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell4[1]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell4[2]}}" class="fx" style="z-index:1;">
    </div>
    <div class="last-child" id="lastGrid">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell5[0]}}" class="fx" style="z-index:2;">
      <img ng-src="http://adriancom.s3-website-us-west-2.amazonaws.com/img/projects/{{project.slideshow.images.cell5[1]}}" class="fx" style="z-index:1;">
    </div>
  </div>
  <footer class="section-footer">
    <p class="quote">"{{project.slideshow.quote.text}}"</p>
    <p class="divider-line"><span></span><p/>
    <p class="quote-author">{{project.slideshow.quote.author}}</p>
  </footer>
</article>

<article class="subsection alternate">
  <header class="section-header">
    <h3 class="headline">Amazing things made possible</h3>
    <p class="divider-line"><p/>
    <p class="tags">Frontend<span></span>Backend</p>
  </header>
  <div class="grid-screenshot alternate" ng-controller="StrategyListController">
    <strategy-list type="goals"></strategy-list>
    <span class="hspace"></span>
    <strategy-list type="design"></strategy-list>
    <span class="hspace"></span>
    <strategy-list type="development"></strategy-list>
  </div>
</article>