<!DOCTYPE html>

<html lang="en" ng-app="projectApp">
	<head>
		<meta charset="UTF-8">
		<title>Adrian Sanoguel - Designer / Developer</title>
		<meta name="author" content="Adrian Sanoguel">
		<meta name="viewport" width="device-width">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
	</head>
	<body class="projects">
	<svg width="80px" height="0px" xmlns="http://www.w3.org/2000/svg">
	    <defs>
	        <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0">
	            <stop offset="0%" style="stop-color: rgb(0,170,231); stop-opacity: 1;"></stop>
	            <stop offset="100%" style="stop-color: rgb(33,218,176); stop-opacity: 1;"></stop>
	        </linearGradient>
	    </defs>
	</svg>
	<header id="main-header" class="masthead" role="banner">
		<div class="masthead-wrapper">			
			<div>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="contain">
				<nav id="nav-main" role="navigation">
					<button id="btn-logo" class="a-logo fx"></button>
		        </nav>
			</div>
		</div>
	</header>
	<div id="main-wrapper">
		<main role="main"> 
			<section id="about">
				<!-- Details Section -->
				<div ng-view ng-cloak></div>

				<article id="works" class="subsection">
					<div class="container" ng-controller="ProjectListCtrl">
						<input type="text" ng-model="company" id="js-search" name="search" class="search" placeholder="&#128269; Filter all works">
						<div class="grid" >
							<ul class="clearfix">
								<!-- Custom Angular Directive -->
								<works-list data-ng-init="order('-order', true)" ng-repeat="project in projects | filter:company" info="project"></works-list>
							</ul>
						</div> 
					</div>
				</article>
			</section>
		</main>
		<footer id="contact" class="blue-green">
			<div class="copyright-wrapper">
				<div class="copyright">
					<p>&copy;2015 Adrian Sanoguel</p>
					<p>This site was designed with the latest web standards.</p>
					<br>
					<p>Best viewed using:</p>
					<p><a href="http://www.w3.org/html/logo/" target="_blank"><span class="icon-html5"></span></a>
						<a href="http://www.w3.org/Style/CSS/Overview.en.html" target="_blank"><span class="icon-css3"></span></a>
						<a href="https://www.google.com/chrome/browser/desktop/" target="_blank"><span class="icon-chrome"></span></a>
						<a href="https://www.mozilla.org/en-US/firefox/desktop/" target="_blank"><span class="icon-firefox"></span></a>
					</p>
				</div>
			</div>
		</footer>			
	</div>

<!-- Dynamically Insert Project Dependencies --> 
<!-- bower:js -->
<script src="http://adriancom.s3-website-us-west-2.amazonaws.com/js/vendor/angular.min.js"></script>

<script src="http://adriancom.s3-website-us-west-2.amazonaws.com/js/vendor/angular-route.min.js"></script>

<script src="http://adriancom.s3-website-us-west-2.amazonaws.com/js/vendor/angular-resource.min.js"></script>
<script src="http://adriancom.s3-website-us-west-2.amazonaws.com/js/projects-adriansan-ui.min.js"></script>
<script src="http://adriancom.s3-website-us-west-2.amazonaws.com/js/ng-adriansan-ui.min.js"></script>
<!-- endbower -->

</body>
</html>





